
<style>
    table, th, td {
   border: 1px solid black;
}
</style>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input type="search" ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="patient_name">Alphabetical</option>
        <option value="-patient_name">Newest</option>
      </select>
      <select ng-model="pages">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>

    </div>
    <div class="col-md-10">
  
    <table class="table table-striped table-condensed table-hover">
        <tr>
          <th></th>
            <th>
              <a href="" ng-click=""></a>
              Patient Name </th>
            <th>
              <a href="" ng-click=""></a>
              Meter Serial  </th>
            <th>
              <a href="" ng-click=""></a>
              Glucose Value</th>
        </tr>
        <tr dir-paginate="meter in meterData| filter:query  |itemsPerPage:pages|orderBy:orderProp">
            <td>{{$index+1}}</td>
            <td>{{meter.patient_name}}</td>
            <td>{{meter.meter_serial}}</td>
            <td>{{meter.glucose_value}}</td>
        </tr>
        <dir-pagination-controls
    [max-size="20"]
    [direction-links="true"]
    [boundary-links="true"]
    [on-page-change=""]
    [pagination-id=""]
    [template-url=""]
    [auto-hide=""]>
    </dir-pagination-controls>
    </table>
<span ng-show="(meterData|filter:query).length == 0">No Result</span>
</div>
</div>
</div>